# Игнорируем системный мусор
.DS_Store
Thumbs.db

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем локальные настройки (если создадите файл config_local.php)
*_local.php
*.local.*

# Если пользуетесь редактором (VSCode/Sublime)
.vscode/
.idea/
*.sublime-*